.cardPrice {
  font-weight: 700;
  color: #004aa2;
  font-size: 17px;
  cursor: pointer;
  transition: transform 0.2s;
}

.cardPrice:hover {
  transform: scale(1.05);
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 2rem auto;
  border-radius: 20px;
  background: white;
  padding: 20px;
}

.profileContainerItem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.profileContainerItem img {
  width: 100px;
  border-radius: 50px;
  margin: 0px 30px;
}

.profileContainerText {
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
}

.profileInnerItem {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.profileInner {
  display: flex;
  flex-direction: column;
}

.profileButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.profileContainer img {
  width: 100px;
  border-radius: 50px;
  margin: 0px 30px;
}

.orderActionContainer {
  display: flex;
  justify-content: space-between;
}

.orderActionButton {
  width: 48%;
  margin: 10px 0px;
}

.orderImg {
  width: 300px;
}

@media (max-width: 600px) {
  .orderActionContainer {
    flex-wrap: wrap;
  }
  .orderActionContainer button {
    margin: 5px;
    width: 45%;
    font-size: 11px;
  }
  .orderImg {
    width: 100%;
  }
  .profileContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .profileInner h4 {
    font-size: 12px;
    text-align: center;
  }
  .profileInner {
    margin-top: 15px;
  }
  .cardPrice {
    font-size: 15px;
  }
  .profileContainerItem {
    flex-direction: column;
  }
  .profileInnerItem {
    margin-top: 15px;
  }
  .profileContainerText {
    text-align: center;
  }
}
