.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #4e54c8, #8f94fb);
}

.itemPageContainer {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #4e54c8, #8f94fb);
}

#_next {
  height: 100%;
}

.innerContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.header1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: white;
  font-size: 34px;
  text-align: center;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #4e54c8;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.columnItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 330px;
}

.ownerItemContainer {
  display: flex;
  justify-content: space-between;
}

.ownerButton {
  width: 48%;
  margin: 30px 0px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.connectTextContainer {
  height: 100%;
  margin-top: 5rem;
  text-align: center;
}

.formContainer {
  height: 100%;
  width: 700px;
  background: white;
  border-radius: 20px;
  padding: 40px;
  padding-bottom: 20px;
}

.layoutContainer {
  height: 100%;
}

.itemRow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin-top: 100px;
  width: 90%;
  max-width: 1150px;
}

.itemRow img {
  max-width: 500px;
}

.searchBar {
  max-width: 400px;
  border-radius: 20px 0px 0px 20px;
  margin-right: 10px;
}

/*ChatPage*/
.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  min-width: 550px;
  height: 420px;
  margin: 30px 10px;
  margin-top: 0px;
  background: white;
  border-radius: 20px;
  padding: 15px;
}

.chatContainerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 550px;
  min-width: 500px;
  height: 400px;
  margin: 30px 10px;
}

.chatMessagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.chatReceived {
  background-color: gainsboro;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 10px 5px;
  color: black;
  align-self: flex-start;
  max-width: 75%;
}

.chatInput {
  width: 100%;
}

.sendIcon {
  color: #fff;
}
.sendButton:hover .sendIcon {
  color: #004aae;
}

.sendButton {
  margin: 3px;
  border-radius: 50px;
  background: #004aae;
}

.chatInputFormItem {
  display: flex;
}

.chatSent {
  background-color: #0070f3;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 10px 5px;

  color: white;
  align-self: flex-end;
  max-width: 75%;
}

.catogeryBtn {
  border-radius: 30px;
  margin-right: 10px;
  margin-top: 1rem;
}

.catoContainer {
  margin-top: 0.5rem;
  text-align: center;
}

.paymentSelectBtn {
  border-radius: 10px;
  width: 100%;
  border: 1px solid gainsboro;
  padding: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.stakingContainer {
  padding: 2rem;
  border-radius: 20px;
  background: white;
  min-width: 600px;
}

.stakedBtnRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stakedRowBorderBtm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #004aae;
  padding-bottom: 1rem;
}

.h4Label {
  font-weight: 600;
  font-size: 16px;
}

.yieldDisplay {
  font-family: monospace;
  font-size: 48px;
}

.stakeColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stakedRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
}

.balanceDisplay {
  font-family: monospace;
  font-size: 24px;
}

.stakedBtn {
  font-size: 16px;
  height: 40px;
}

.apyDisplay {
  border: 1px solid goldenrod;
  color: goldenrod;
  font-weight: 600;
  border-radius: 20px;
  padding: 5px 15px;
}

.yieldRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.itemImg {
  margin-right: 20px;
  min-width: 500px;
}

.itemTitle {
  font-weight: 600;
  font-size: 20px;
  margin-top: 15px;
}

.chatHi {
  margin-top: 0px;
  color: black;
  font-size: 24px;
  margin-bottom: 1.5rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .searchBar {
    width: 300px;
  }
  .collapse {
    width: 300px;
  }
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stakingContainer {
    min-width: 0px;
    padding: 1rem;
  }
  .stakedBtn {
    font-size: 14px;
    height: 30px;
  }
  .balanceDisplay {
    font-size: 18px;
  }
  .h4Label {
    font-size: 14px;
  }
  .yieldDisplay {
    font-family: monospace;
    font-size: 36px;
  }
  .yieldRow {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }
  .apyDisplay {
    margin-bottom: 10px;
    font-family: 14px;
  }
  .formContainer {
    width: 100%;
  }
  .itemImg {
    margin-right: 0px;
    min-width: 0px;
    width: 100%;
  }
  .columnItem {
    min-width: 270px;
  }
  .chatContainer {
    min-width: 0px;
    width: 1005;
  }
  .chatHi {
    font-size: 12px;
    align-self: center;
  }
  .chatContainerFlex {
    width: 90%;
    min-width: 0px;
  }
  .itemRow {
    margin-top: 50px !important;
  }
}
